<div id="<%= dom_id order %>">
  <p>
    <strong>Orderdetails:</strong>
    <%= order.orderDetails %>
  </p>

  <p>
    <strong>Trackingnumber:</strong>
    <%= order.trackingNumber %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

</div>
