<div id="<%= dom_id cart %>">
  <p>
    <strong>Date of creation:</strong>
    <%= cart.date_of_creation %>
  </p>

  <p>
    <strong>Last updated:</strong>
    <%= cart.last_updated %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= cart.total_price %>
  </p>

</div>
