<div id="<%= dom_id order_information %>">
  <p>
    <strong>Order status code:</strong>
    <%= order_information.order_status_code %>
  </p>

  <p>
    <strong>Date order placed:</strong>
    <%= order_information.date_order_placed %>
  </p>

  <p>
    <strong>Infomation:</strong>
    <%= order_information.infomation_id %>
  </p>

</div>
